h1, h2, h3 {
    font-family: 'Lucida Console';
    color: white;
}

.character {
    background: white;
    border: 1px solid green;    
    float: left;
    padding: 13px;
    width: 20%;
}

.clearfix {
    background-image: url("../images/fantasy-flight-games-header-1522x864.jpg");
    content: "";
    height: 100vh;
}